/*County holder*/

.county-wrapepr {
	min-height: 500px;
}

/*Hold counties*/
.tag {
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	line-height: 15px;
	padding: 6px 13px 8px 19px;
	position: relative;
	vertical-align: middle;
	-webkit-transition: 0.1s linear;
	transition: 0.1s linear;
}

.tag:hover{
/*	padding-left: 12px;
	padding-right: 20px;*/
}

.move-county {
	color: #ffffff;
	cursor: pointer;
}

.holdable{
	background-color: #1abc9c;
	cursor: pointer;
}

	.holdable:hover{
		background-color: #48c9b0;
	}

.held{
	background-color: #3498DB;
	cursor: default;
}
.removeable{
	background-color: #e74c3c;
	cursor: grab;
}
.removeable:active{
	background-color: #C0392B;
}
.removeable:hover{
	background-color: #ec7063;
}

.disabled{
	opacity: 0.7;
	cursor: default;
}
.removeable.disabled{
	cursor: pointer;
}

.fa-times-circle{
	cursor: pointer;
}


/*Drag and drop*/
.county-content{
	padding: 2px;
}
.drag-here{
	padding: 2px;
	border:2px solid #fff;
}
.drop-zone {
	border: 2px solid #2980B9;
	border-radius: 6px;
}
.over-drop{
	border: 2px solid #2980B9;
	border-radius: 6px;
}

/*Bar charts*/














