/*Hold counties*/
.tag {
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	line-height: 15px;
	padding: 6px 13px 8px 19px;
	position: relative;
	vertical-align: middle;
	-webkit-transition: 0.1s linear;
	transition: 0.1s linear;
}

.tag:hover{
/*	padding-left: 12px;
	padding-right: 20px;*/
}

.move-county {
	color: #ffffff;
/*	bottom: 0;
	font-size: 12px;
	opacity: 0;
	padding: 7px 7px 5px 0;
	position: absolute;
	right: 0;
	text-align: right;
	text-decoration: none;
	top: 0;
	width: 100%;
	z-index: 2;*/
	/*display: none\9;*/
}

.fa-plus-circle, .fa-times-circle {
	cursor: pointer;
}

.holdable{
	background-color: #1abc9c;
	cursor: default;
}

	.holdable:hover{
		background-color: #48c9b0;
	}

	#map .holdable{
		cursor: pointer;
	}

.held{
	background-color: #3498DB;
	cursor: default;
}

.removeable{
	background-color: #e74c3c;
	cursor: move;
}
.removeable:active{
	background-color: #C0392B;
}
.removeable:hover{
	background-color: #ec7063;
}

/*Drag and drop*/

.or-drag{
	height: auto;
	min-height: 500px;
}

.drop-active {
	border-color: #3498DB;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
		-webkit-transition: border .1 linear, color .1 linear, background-color .1 linear;
	transition: border .1 linear, color .1 linear, background-color .1 linear;
}
.drop-hover{
		border-color: #3498DB;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
		-webkit-transition: border .1 linear, color .1 linear, background-color .1 linear;
	transition: border .1 linear, color .1 linear, background-color .1 linear;
}