.overlay {
  fill: none;
  pointer-events: all;
}
#direct-farm-sales .content-container {
	padding: 1.45em 0 0 0;
}

#food-search input {
	font-size: 1.25em;
}

/*Tooltip*/
div.tooltip {   
  position: absolute;           
  width: 150px;                  
  height: 25px;                 
  padding: 1em 1em 2em 1em;         
  font-size: 0.8em;
  border: 1px;      
  border-radius: 1px;           
  pointer-events: none;         
}

