#direct-farm-sales .content-container {
	padding: 1.45em 0 0 0;
}

#food-search input {
	font-size: 1.25em;
}

/*Add county interaction style*/
.holdable{
	cursor: pointer;
}
.held{
	cursor: default;
}
.removeable {
	margin: 0 1em 0 0;
	display: inline-block;
}
#held-counties .removeable {
	cursor: move;
}
.move-county {
	margin: 0 0 0 .5em;
}

.fa-plus-circle {
	color: green;
	cursor: pointer;
}

.fa-times-circle {
	color: red;
	cursor: pointer;
}

.fa-check-circle {
	color: blue;
}