input{
	margin: 0;
	font: inherit;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	-webkit-writing-mode: horizontal-tb;
}

.form-group {
	position: relative;
	margin-bottom: 20px;
}

.form-control{
	display: block;
	width: 100%;
	background-color: #fff;
	background-image: none;
	border: 2px solid #bdc3c7;
	color: #34495e;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.467;
	padding: 2px 12px;
	height: 42px;
		-webkit-appearance: none;
	border-radius: 6px;
		-webkit-box-shadow: none;
	box-shadow: none;
		-webkit-transition: border .1 linear, color .1 linear, background-color .1 linear;
	transition: border .1 linear, color .1 linear, background-color .1 linear;
}

	.form-control:focus {
		border-color: #3498DB;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

.form-control + .input-icon {
	position: absolute;
	vertical-align: middle;
	right: 0;
	top: 0;
	left:92%;
	width: 20%;
	height: auto;
	min-height: 49px;
	line-height: 1em;
	color: #bdc3c7;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
		-webkit-transition: background-color 0.1 linear;
	transition: background-color 0.1 linear;
	cursor: pointer;
}

.input-icon i {
	position: absolute;
	top: 32%;
	left: 32%;
		-webkit-transition: color 0.1 linear;
	transition: color 0.1 linear;
}