html {font-size: 1.25em;}

body {
  background-color: white;
  font-family: PT Sans Caption, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #2C3E50;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
	font-size: 1.953em;
  font-family: Arvo, PT Sans Caption, sans-serif
}

h2 {
	font-size: 1.563em;
	font-family: Arvo, PT Sans Caption, sans-serif;
}

	#county-drilldown h2{
		margin-top: .3em;
	}

h3 {
	font-size: 1.25em;
}

h4 {

}

small, .font_small {font-size: 0.8em;}

.tag{
	font-size: 0.8em;
}

#held-counties {
  font-size: 0.8em;
}

.or-drag{
  font-size: 0.8em;
  color: #BDC3C7;
}
